.Navbar {
  min-width: 100%;
  padding: 0.5rem;
  padding-top: 1.5rem;
  background-color: #302f2f;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #000;
}

.Navbar__brand {
  width: 15%;
  transition: 0.3s;
}

.Navbar__brand:hover {
  /* color: #ffffff; */
  width: 20%;

  text-decoration: none;
}

.Navbar_Links {
  width: 25%;
  justify-self: center;
  align-self: center;
  transition: 0.3s;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
  height: 150px;
}

.Navbar_subSections {
  width: 50%;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
}

.Navbar_p {
  min-width: 90%;
  text-align: center;
  transition: 0.3s;
}

.Navbar_p:hover {
  color: var(--main-red);
}
