.published-projects-section {
  min-height: 120vh;
  max-width: 90%;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 7.5%;
  margin-left: auto;
  margin-right: auto;
}

.published-projects {
  display: flex;
  min-height: 100%;
  margin: auto;
  flex-wrap: wrap;
}

.published-header {
  max-width: 50%;
  margin: 0 auto 6rem auto;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 2px #ae60f7;
}

.published-card {
  text-align: start;
  border-radius: 10%;
  box-shadow: 3px 3px 3px 1px #000;
  min-width: 30%;
  width: 30%;
  min-height: 400px;
  padding: 3%;
  margin: 1.5%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
  background-color: rgb(36, 36, 36);
}

.published-card:hover {
  border-radius: 7.5%;
  box-shadow: 5px 5px 5px 3px #000;
  background-color: var(--main-gray);
  border-radius: 15%;
}

/* ----------------- */

.published-card-job .published-card-place .published-card-time {
  text-align: start;
  padding-left: 5%;
  text-align: start;
}

.published-card h2 {
  font-size: 3.5rem;
  text-align: start;
  color: #ae60f7;
}

.published-card p strong {
  font-size: 3rem;
}

.published-card p {
  font-size: 2rem;
  text-align: start;
  padding-left: 2.5%;
}

.published-card-List {
  text-align: start;
  margin-top: 2.5%;
  padding-left: 5%;

  text-align: start;
}

.published-card-description {
  padding-left: 5%;
  list-style-type: circle;
  list-style-position: inside;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  /* border-bottom: rgba(255, 255, 255, 0.719) solid 1px; */
}

.published-card-description a {
  background: #9869c5;
  box-shadow: 1px 1px 1px 1px #000;

  font-size: 2rem;
  max-width: 25%;
  width: 15%;
  max-height: 2.5%;
  border-radius: 10%;
  padding: 2.5%;
  margin: 2.5%;
  text-align: center;
  transition: 0.3s ease;
}
.published-card-description:hover a {
  background: #af88d3;
  box-shadow: 3px 3px 3px 2px #000;
}

.published-card-description span {
  max-width: 75%;
  width: 70%;
  font-size: 1.8rem;
}

@media (max-width: 1500px) {
  .published-card {
    min-width: 40%;
    min-height: 500px;
    margin: auto;
    margin-bottom: 30px;
  }

  .published-card h2 {
    font-size: 3rem;
  }

  .published-card p strong {
    font-size: 2.25rem;
  }

  .published-card p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1100px) {
  .published-card {
    min-height: 600px;
    height: 100%;
    min-width: 80%;
    padding: 5%;
  }

  .published-header{
    font-size: 5rem;
  }
  .published-card h2 {
    font-size: 4rem;
    /* text-align: center; */
    padding-left: 5%;
  }

  .published-card p strong {
    font-size: 3rem;
    /* text-align: center; */
  }

  .published-card p {
    font-size: 2.25rem;
    /* text-align: center; */
    padding-left: 5%;

  }
  .published-card-description {
    padding-left: 0;
  }
  .published-card-description span {
    max-width: 90%;
    width: 90%;
    font-size: 2.25rem;
  }
}
