.welcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  font-family: 'Ubuntu', sans-serif;

}

.welcome-section h1 {
  font-size: 9rem;
  text-shadow: 5px 5px 3px #000000;
}

.welcome-section-about {
  font-size: 4rem;
  text-shadow: 1px 1px 1px #fff;
  font-family: 'Amatic SC', cursive;
}

.social-network {
  align-self: flex-end;
  transition: 0.3s;
}

.social-network:hover {
  box-shadow: 0px 5px 0px #000000;
}

.social-network-content {
  height: 100px;
  opacity: 0.75;
  transition: 0.3s;
}

.social-network-content:hover {
  height: 150px;
  opacity: 1;
}

.welcome-section p {
  font-size: 4rem;
}

.welcome-section div input {
  font-size: 3rem;
  padding: 1%;
  /* margin-left: 1%; */
  border-radius: 1%;
}

.subscribe {
  display: flex;
  justify-content: center;
}

.email {
  background-color: aliceblue;
  color: #595f6e;
  border: none;
  width: 500px;
}

.subscribe-button {
  width: 250px;
  color: aliceblue;
  transition: 0.3s;
}

.subscribe-button:hover {
  color: var(--main-gray);
  background-color: aliceblue;
  border-color: #595f6e;
}

.welcome-section-socialContainer {
  padding-top: 0.25%;
  padding-bottom: 1%;
  min-height: 220px;
  justify-content: center;
  display: flex;
}

.welcome-section-element {
  padding: 0.5%;
  font-family: 'Ubuntu', sans-serif;
}

.welcome-section-title {
  padding: 0.25%;
}

.welcome-section-subtitle {
  padding-bottom: 1%;
  color: var(--main-red);
  font-style: italic;
  font-family: 'Josefin Sans', sans-serif;
}
